{extend name="default/index"}

{block name="content"}
	<style>
		#input_search{
			width:210px;
			height:30px;
			border:1px solid #ddd;
			background:none;
			font-size:18px;
		}
		#search_btn{
			margin-top:-8px;
			font-size:15px;
		}
		#search_select{
			padding-top:5px;
			background:none;
			border: 1px solid #ddd;
			color: #feffff;
			width:100px;
			height:30px
		}
        #newadd{
                margin-top:-65px;
                margin-left:880px;
                width:150px;
                }
	</style>
	<div class="block-area" id="tableBordered">
                    <h3 class="block-title">用户显示列表</h3>
                    <br>
                    <form action="/admin/type_list" method="get">
                        <div class="form-group">
                            <label for="exampleInputEmail1">分类名:</label>
                            &nbsp;&nbsp;
                            <input type="text" name="name" placeholder="Enter Your Typename..." id="input_search">
                            &nbsp;&nbsp;
                            <button type="submit" class="btn btn-sm m-t-2" id="search_btn">SEARCH</button>
                            <button type="reset" class="btn btn-sm m-t-2" id="search_btn">RESET</button>
                        </div>
                    </form>
                    <!-- 添加用户快捷按钮开始 -->
                    <form action="/admin/type_add" method="post">
                        <button type="submit" class="btn btn-sm m-t-2" id="newadd">Adding classifications</button>
                    </form>
                    <!-- 添加用户快捷按钮结束 -->
                    <br>
                    <div class="table-responsive overflow">
                        <table class="table table-bordered tile">
                            <thead>
                                <tr>
                                    <th>ID.</th>
                                    <th>Name</th>
                                    <th>PID</th>
                                    <th>Creat_time</th>
                                    <th>Update_time</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                            {foreach $res as $v}
                                <tr>
                                    <td>{$v->id}</td>
                                    <td>
                                    {if $s == 1}
                                        {$v->name}
                                    {elseif $s == 0}
                                        {$v->typename}
                                    {/if}
                                    </td>
                                    <td>{$v->pid}</td>
                                    <td>{$v->create_time}</td>
                                    <td>{$v->update_time}</td>
                                    <td>
                                    	<a href="/admin/type_edit/{$v->id}"><button class="btn btn-sm m-r-5" style="background-color:#FF6347">修改</button></a>
                                    	<a href="/admin/type_delete/{$v->id}" onclick="return confirm('您确认要删除吗？')"><button class="btn btn-sm m-r-5" style="background-color:#CD3278">删除</button></a>
                                    	<a href="/admin/type_add/{$v->id}"><button class="btn btn-sm m-r-5" style="background-color:#20B2AA">添加子分类</button></a>
                                    </td>
                                </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>    
                </div>
{/block}